.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: rgb(89, 135, 227);
  border-radius: 50%;
}
