.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.card-title {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 25px;
}

.main-text {
  margin: 0px;
  text-align: left;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;
  max-height: 15vw;
}
