.text-wrapper {
  display: flex;
  flex-direction: column;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 25px;
  overflow: hidden;
  word-break: break-all;
}

.main-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  margin: 0px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  word-break: break-all;
}
