.text-wrapper {
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 25px;
}

.main-text {
  margin: 0px;
  text-align: left;
  font-size: 20px;
}
