.button {
  font-family: var(--main-font-family);
  font-size: 25px;
  color: var(--main-font-color);
  background-color: var(--elem-bg-color);
  width: fit-content;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: rgba(214, 213, 213, 0.904);
  color: rgba(40, 39, 39, 0.22);
  border: none;
  cursor: unset;
}
