.image-wrapper {
  width: 15vw;
  min-width: 15vw;
  max-height: 15vw;
  height: fit-content;
  border-radius: 10px;
  justify-items: center;
  overflow: hidden;
  margin-right: 20px;
}

.image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
