#root {
  display: flex;
  max-width: 1440px;
  margin: 0px auto;
  padding: 2rem;
  text-align: center;
}

.background-dark {
  color: var(--main-font-color);
  background-color: black;
  background-image: url('/stars.png');
  background-size: 20%;
}

.background-light {
  color: var(--main-font-color);
  background-color: black;
  background-image: url('/stars.png');
  background-size: 20%;
}
