:root {
  --main-font-family: Helvetica, Arial, sans-serif;
  --main-font-color: rgba(255, 255, 255, 0.87);
  --elem-bg-color: rgba(255, 255, 255, 0.217);
  --hover-bg-color: rgba(255, 255, 255, 0.607);
  --hover-font-color: rgba(47, 33, 33, 0.607);
}

body {
  font-family: var(--main-font-family);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.background-dark {
  color: var(--main-font-color);
  background-color: black;
  background-image: url('/stars.png');
  background-size: 20%;
}

.background-light {
}

.background-light,
.background-dark {
}

a:visited {
  color: rgba(255, 255, 255, 0.87);
}

#root {
  display: flex;
  flex-direction: column;
}
