:root {
  --main-font-family: Helvetica, Arial, sans-serif;
  --main-font-color: rgba(255, 255, 255, 0.87);
  --elem-bg-color: rgba(255, 255, 255, 0.217);
  --hover-bg-color: rgba(255, 255, 255, 0.607);
  --light-elem-color: #005ca8;
  --light-elem-bg-color: white;
  --light-elem-border-color: rgb(0, 65, 105);
  --light-placeholder: #5591c3;
}

html {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

.background-dark {
  color: var(--main-font-color);
  background-color: black;
  background-image: url('/stars.png');
  background-size: 20%;
}

.background-light {
  background: radial-gradient(
    circle at top left,
    #ffe23b 0%,
    #add9fd 20%,
    #93c9f5 70%,
    #74b9f2 100%
  );
  color: #005ca8;
}

a:visited {
  color: rgba(255, 255, 255, 0.87);
}

#root {
  display: flex;
  flex-direction: column;
}
