.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--elem-bg-color);
  border-radius: 20px;
  padding: 20px;
}

.page-message {
  font-size: 30px;
  padding: 10px;
}
