.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

.page-message {
  font-size: 30px;
  padding: 10px;
}

.link:visited {
  color: rgb(61, 148, 172);
}
