.fallback-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: auto;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  padding: 10px;
  max-width: 80vw;
}

.fallback-element {
  margin: 10px auto;
}
