.form {
  display: flex;
  margin: 0px auto 30px auto;
  gap: 10px;
  width: fit-content;
}

.input {
  box-sizing: border-box;
  display: flex;
  font-family: var(--main-font-family);
  font-size: 25px;
  height: 100%;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 10px;
}

.input-dark {
  color: var(--main-font-family);
  background-color: var(--elem-bg-color);
}

.input-light {
  color: var(--light-elem-color);
  background-color: var(--light-elem-bg-color);
}

.input-light::placeholder {
  color: var(--light-placeholder);
}
